/*==============================================================
  # Variables.
==============================================================*/
:root {
  /* Colors. */
  --white:                          #FFFFFF;
  --black:                          #000000;
  --green:                          #008000;
  --nyanza:	                        #ECFFDC;
  --dark-gray:                      #666666;
  --bright-navy-blue:               #1A76D1;

  --primary-color:                  #1c1d21;
  --secondary-color:                #0e373d;
  --tertiary-color:                 #099aad;

  /* Box's shadow. */
  --box-shadow-gray:                #3333334d;

  /* Font family. */
  --ff-body:                        'Poppins', sans-serif;

  /* Font weights. */
  --fw-thin:                        100;
  --fw-extra-light:                 200;
  --fw-light:                       300;
  --fw-normal:                      400;
  --fw-medium:                      500;
  --fw-semibold:                    600;
  --fw-bold:                        700;
  --fw-extra-bold:                  800;
  --fw-heavy-black:                 900;
}

/*==============================================================
  # General.
==============================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  font-size: 14px;
  background-color: var(--white);
}

/* --- Links. --- */
a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration:none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*==============================================================
  # Preloader.
==============================================================*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
  transition: 0.9s;
}

.preloader .loader {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  top: 45%;
  margin: 0 auto;
  transform: translateY(-45%);
  transition: 0.5s;
}

.preloader .loader .loader-outter {
  position: absolute;
  border: 4px solid var(--white);
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@keyframes loader-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader .loader .loader-inner {
  position: absolute;
  border: 4px solid var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: calc(40% - 21px);
  top: calc(40% - 21px);
  border-right: 0;
  border-top-color: transparent;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.preloader .loader .indicator {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
}

.preloader .loader .indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.preloader .loader .indicator svg polyline#back {
  stroke: var(--white);
}

.preloader .loader .indicator svg polyline#front {
  stroke: var(--bright-navy-blue);
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.preloader::before,
.preloader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: -1;
  background-color: var(--bright-navy-blue);
  transition: .9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-inactive {
  visibility: hidden;
}

.preloader.preloader-inactive::after,
.preloader.preloader-inactive::before {
  width: 0;
}

.preloader.preloader-inactive .loader {
  opacity: 0;
  visibility: hidden;
}

/*==============================================================
  # Header (Top-bar).
==============================================================*/
.header {
  position: relative;
}

.header .top-bar {
  padding: 10px 0;
  background-color: var(--primary-color);
}

/* --- Top Contact --- */
.top-contact {
  float: left;
}

.top-contact li {
  display: inline-block;
  margin-right: 25px;
  color: var(--white);
  cursor: pointer;
}

.top-contact li:last-child {
  margin-right: 0;
}

.top-contact li a {
  color: var(--white);
}

.top-contact li a:hover,
.top-contact li:hover {
  color: var(--nyanza);
}

.top-contact li i {
  color: var(--tertiary-color);
  margin-right: 8px;
  transition: transform 0.3s ease-out;
}

.top-contact li:hover i {
  color: var(--green);
  animation: bounce 0.8s;
}

/* --- Top Social --- */
.top-social {
  display: inline-block;
}

.top-social li {
  display: inline;
  margin-right: 10px;
}

.top-social li:last-child {
  margin-right: 0;
}

.top-social li a i {
  transition: transform 0.3s ease-out;
}

.top-social li a:hover i {
  animation: bounce 0.8s;
}

.top-social a {
  color: var(--tertiary-color);
}

.top-social a:hover {
  color: var(--nyanza);
}

/* --- Top Logination --- */
.top-auth {
  float: right;
  width: 5%;
  filter: brightness(0) invert(1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/*==============================================================
  # Header (Inner-header).
==============================================================*/
.inner .brand-name .logo,
.inner .brand-name .heading {
  display: inline;
}

.inner .brand-name {
  margin-left: 10px;
  margin-top: 13px;
}

.inner .brand-name img {
  padding: 5px 0;
  float: left;
  width: 12%;
}

.brand-name .heading {
  font-size: 30px;
  font-weight: bold;
  margin-left: 5px;
}

.brand-name .heading .suffix {
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.brand-name .heading .prefix {
  color: var(--primary-color);
}

.inner .main-menu {
  float: right;
  margin-top: 14px;
  margin-right: 15px;
}

.inner .main-menu li {
  display: inline;
  position: relative;
  margin-right: 10px;
}

.inner .main-menu li:last-child {
  margin: 0;
}

.inner .main-menu li a {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  padding: 15px 7px;
  position: relative;
  display: inline-block;
}

.inner .main-menu li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.inner .main-menu li.active a {
  color: var(--tertiary-color);
}

.inner .main-menu li:hover a:before {
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.inner .main-menu li:hover a {
  color: var(--tertiary-color);
}

.inner .main-menu li a i {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

/*!* --- Dropdown Menu --- *!*/
.inner nav li .dropdown {
  background: var(--white);
  width: 220px;
  position: absolute;
  top: 100%;
  z-index: 999;
  box-shadow: 0 3px 5px var(--box-shadow-gray);
  transform-origin: 0 0 0;
  transform: scaleY(0.2);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  border-left: 3px solid var(--bright-navy-blue);
}

.inner nav li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.inner nav li .dropdown li {
  float: none;
  margin: 0;
  border-bottom: 1px dashed #eee;
}

.inner nav li .dropdown li:last-child {
  border: none;
}

.inner nav li .dropdown li a {
  padding: 12px 15px;
  color: var(--dark-gray);
  display: block;
  font-weight: var(--fw-normal);
  text-transform: capitalize;
  background: transparent;
  transition:all 0.2s ease;
}

.inner nav li .dropdown li a:before {
  display: none;
}

.inner nav li .dropdown li:last-child a {
  border-bottom: 0;
}

.inner nav li .dropdown li:hover a {
  color: var(--bright-navy-blue);
}

.inner nav li .dropdown li a:hover {
  border-color: transparent;
}

/* --- Box with 9-th boxes. --- */
.box {
  position: relative;
  background-color: var(--tertiary-color);
  width: 80px;
  padding-bottom: 80px;
  float: right;
}

.inner-box {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  width: 12%;
  height: 12%;
}

.inner-box:nth-child(1) { top: 25%; left: 25%; }
.inner-box:nth-child(2) { top: 25%; left: 45%; }
.inner-box:nth-child(3) { top: 25%; left: 65%; }
.inner-box:nth-child(4) { top: 42%; left: 25%; }
.inner-box:nth-child(5) { top: 42%; left: 45%; }
.inner-box:nth-child(6) { top: 42%; left: 65%; }
.inner-box:nth-child(7) { top: 60%; left: 25%; }
.inner-box:nth-child(8) { top: 60%; left: 45%; }
.inner-box:nth-child(9) { top: 60%; left: 65%; }